/* system imports */
@import 'normalize'
@import 'helper'


/* variables */
$assets = '../assets'
$images = $assets + '/images'
$fonts = $assets + '/fonts'

$dark = #000000
$darkgrey = #4a4a4a
$mediumgrey = #ccc
$grey = #eee
$lightgrey = #e6e6e6
$active = #fcfcfc
$light = #ffffff
$primary = #2c7cda

/* application imports */
@import 'reset'
@import 'global'
@import 'fonts'
