a
  text-decoration none


ul
li
  margin 0
  padding 0
  list-style none
  -webkit-margin-before 0rem
  -webkit-margin-after 0rem
  -webkit-margin-start 0rem
  -webkit-margin-end 0rem

h1
  position absolute
  left 0
  right 50%
  top 0
  bottom 0
  margin 0
  padding 0
  border 1px solid transparent

/*
::-webkit-scrollbar
  width 0.8rem
  height 0.8rem

::-webkit-scrollbar-thumb
  background rgba(#000, .6)
  border-radius 0.8rem

::-webkit-scrollbar-track
  background transparent
*/